<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/chosen.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

<h3>User Token: <%= current_user.token %></h3>
<h4>Email: <%= current_user.email %></h4>

<form action="/set" method="post">

  <div class="btn-column">
    <% (1..3).each do |button| %>
      <%= erb :button_selection, :locals => {:button => button} %>
    <% end %>
  </div>

  <div class="btn-column">
    <% (4..6).each do |button| %>
      <%= erb :button_selection, :locals => {:button => button} %>
    <% end %>
  </div>

  <input type="submit" value="Submit" class="button" />

</form>

<a href="/reconfigure">Reload Projects/Tasks</a>
<br>
<a href="/delete_account">Delete Account</a>

<script src="/javascripts/home.js"></script>
