<a href="/settings">Settings</a>

<br><br>

<a href="/submit?timer=1">Button 1</a>
<a href="/submit?timer=2">Button 2</a>
<a href="/submit?timer=3">Button 3</a>
<a href="/submit?timer=4">Button 4</a>
<a href="/submit?timer=5">Button 5</a>
<a href="/submit?timer=6">Button 6</a>

