<h2>Login</h2>

<a href="<%= oauth_url %>">Login with Harvest</a>
<br><br><hr>
<h4>Already have a Tracktor Account?</h4>
<form action="/login" method="post">
  <input name='email' placeholder='Enter your email'>
  <input type="submit" value="Login">
</form>
