<h2>Login</h2>

<form action="/login" method="post">

  <div>
    <label>Email</label>
    <input name="email" type="text">

    <br>

    <label>Password</label>
    <input name="password" type="password">

    <br>

    Remember Me<input type="checkbox" name="remember" value="true">
  </div>

  <input type="submit" value="Login" class="button" />

</form>
